@using RestaurantReserv.Models;

<!--=============== Hero Section ===============-->
<section class="hero hero-page bg-gray has-pattern">
    <div class="container text-center">
        <!-- Breadcrumb -->
        <ul class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")" class="animsition-link">Home</a></li>
            <li class="breadcrumb-item active">About US</li>
        </ul>
        <h1>About US</h1>
        <p class="hero-text col-lg-8 push-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</section>
<!--=============== /. Hero Section ===============-->
<!--=============== Intro Section ===============-->
<section class="intro">
    <div class="container text-center">
        <p class="text-big col-md-10 push-md-1">@ViewBag.About.Intro</p>
        <a class="bla-1 btn-template" href="https://www.youtube.com/watch?v=q16Bdzv6EWM">About our Service <i class="fa fa-play"></i></a>
    </div>
</section>
<!--=============== /. Intro Section ===============-->
<!--=============== Vision Section ===============-->
<section class="vision bg-gray">
    <div class="container text-center">
        <header>
            <h2 class="with-bg-text-gray" data-text="Vision">
                <small class="text-primary">Our Vision</small>
                Our Vision
            </h2>
        </header>
        <!-- Blockquote -->
        <blockquote class="blockquote col-md-10 push-md-1">
            <p>@ViewBag.About.Vision</p>
            <footer class="blockquote-footer d-flex align-items-start justify-content-center">
                <div class="title">
                    <h3>Sundar Pichai</h3>
                    <span class="text-primary">CEO Google Inc.</span>
                </div>
            </footer>
        </blockquote><!-- /. Blockquote -->
    </div>
</section>
<!--=============== /. Vision Section ===============-->
<!--=============== Statistics Section ===============-->
<section class="statistics statistics-about has-pattern padding-small">
    <div class="container text-center">

        <div class="row">
            @foreach (Statistic item in ViewBag.Statistic)
            {
                <!-- Item -->
                <div class="col-md-3 col-sm-6">
                    <div class="icon">
                        <img src="~/Public/img/@item.Image" alt="..." class="img-fluid">
                    </div>
                    <h3 class="h2 text-primary counter" data-count="@item.DataCount" data-text="@item.DataText"><strong>0</strong></h3>
                    <p>@item.Text</p>
                </div>
                <!-- /. Item -->
            }
        </div>

    </div>
</section>
<!--=============== /. Statistics Section ===============-->
<!--=============== Chefs Section ===============-->
<section class="chefs bg-gray">
    <div class="container">
        <header class="text-center">
            <h2 class="with-bg-text-gray" data-text="Chefs">
                <small class="text-primary">Our masters of cooking</small>
                Our Chefs
            </h2>
        </header>
        <div class="owl-carousel owl-theme chefs-slider text-center">
            @foreach (Chef item in ViewBag.Chef)
            {
                <!-- item -->
                <div class="item rounded has-pattern-on-hover has-shadow-on-hover">
                    <div class="image d-flex align-items-end">
                        <img src="~/Public/img/@item.Image" alt="..." class="img-fluid d-block mx-auto">
                    </div>
                    <div class="details has-pattern-on-hover">
                        <h3>@item.Fullname</h3>
                        <span>@item.Position</span>
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href="@item.Facebook" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="@item.Twitter" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="@item.Instagram" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="@item.LinedIn" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--=============== /. Chefs Section ===============-->
<!--=============== Gallery Section ===============-->
<section class="gallery">
    <div class="container">
        <header class="text-center">
            <h2 class="with-bg-text-gray" data-text="Gallery">
                <small class="text-primary">Our Gallery</small>
                Our Gallery
            </h2>
        </header>
    </div>

    <div class="owl-carousel gallery-slider">
        @foreach (Gallery item in ViewBag.Gallery)
        {
            <!-- item -->
            <div class="item">
                <a href="~/Public/img/@item.Name" class="image" data-fancybox="gallery">
                    <img src="~/Public/img/@item.Name" alt="...">
                </a>
            </div>
        }
    </div>
</section>
<!--=============== /. Gallery Section ===============-->

